{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParkNova | Smart Parking Finder System</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="{%static 'css/navbar-style.css' %}">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParkNova | Smart Parking Finder System</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="{%static 'css/footer-style.css' %}">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>

    <!-- ================= HOW IT WORKS ================= -->
<section class="steps">
    <h2>How It Works</h2>

    <div class="step-container">
        <div class="step">1️⃣ Search Location</div>
        <div class="step">2️⃣ Select Parking</div>
        <div class="step">3️⃣ Book Slot</div>
    </div>
</section>

<!-- ================= FOOTER ================= -->
<footer>
    <div class="footer-content">
        <h3>🚗 ParkEasy</h3>
        <p>Smart Parking Solution for Smart Cities</p>

        <div class="socials">
            <span>🌐</span>
            <span>📧</span>
            <span>📱</span>
        </div>

        <p class="copy">© 2026 ParkEasy. All Rights Reserved.</p>
    </div>
</footer>


</body>

</html>