{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ParkNova</title>
    <link rel="stylesheet" href="{% static 'css/login-style.css' %}">
</head>
<body>

{% include 'navbar.html' %}

<section class="auth-container">
    <div class="auth-box">
        <h2>Login</h2>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>

            <button type="submit">Login</button>
        </form>

        <a href="{% url 'forgot' %}" class="link">Forgot Password?</a>

        <p class="toggle-text">
            Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
        </p>
    </div>
</section>

{% include 'footer.html' %}

</body>
</html>