{% load static %}

<!DOCTYPE html>
<html>
<head>

    <title>My Bookings</title>

    <link rel="stylesheet" href="{% static 'css/my_bookings-style.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
          rel="stylesheet">

</head>

<body>

{% include 'nav2.html' %}

<div class="container">

    <h2 class="title">📦 My Bookings</h2>

    <div class="grid">

        {% for b in bookings %}

        <div class="booking-card">

            <!-- CONTENT -->
            <div class="card-content">

                <h3>{{ b.parking.name }}</h3>

                <p>💰 ₹{{ b.total_price }}</p>

                <p>⏰ {{ b.hours }} Hours</p>

                <p>🕒 Start: {{ b.start_time }}</p>

                <p>🛑 End: {{ b.end_time }}</p>

                <p>
                    Status:

                    {% if b.payment_status == "COMPLETED" %}
                        <span class="status completed">Completed</span>

                    {% elif b.payment_status == "CANCELLED" %}
                        <span class="status cancelled">Cancelled</span>

                    {% else %}
                        <span class="status active">Active</span>
                    {% endif %}
                </p>

            </div>

            <!-- BUTTONS -->
            <div class="card-bottom">

                {% if b.is_active and b.payment_status != "COMPLETED" %}

                    <a href="{% url 'extend_booking' b.id %}" class="extend-btn">
                        ⏱ Extend Time
                    </a>

                    <a href="{% url 'cancel_booking' b.id %}" class="cancel-btn">
                        Cancel
                    </a>

                {% endif %}

            </div>

        </div>

        {% empty %}

        <p>No bookings found.</p>

        {% endfor %}

    </div>

</div>

{% include 'footer.html' %}

</body>
</html>